
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 30px;
  display: flex;
  margin-left: 10px;
}

th {
  margin-left: 100px;
}



div.card_flame {
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
  width: 90%;
  height: auto;
  
   /* 注目 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
 
.card_flame > :nth-child(n+3){
  margin-top: 20px;
 
}  

.card_flame > :not(:nth-child(3n-2)){
  margin-left: 20px;
}  

div.card_box {
  width: calc((100% - 20px * 2) / 3);
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,.2)
}

div img {
  vertical-align: top;
}

.card__imgframe{
  width: 100%;
  height: auto;
  /* padding-top: 56.25%; */
  background: #bbb;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

body {
  margin:0; 
  padding: 0;
}

div.body {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background-color:#55C501;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 17px;
  height: 90px;
}

div.head_text {
  display: flex;
}

div.title_text{
  display: flex;
}

div.back {
  margin-top: 30px;
  position:absolute;
	right: 60px;
  font-size: 17px;
}

div.blogtop {
  margin-top: 41px;
}

.my_blogs {
  margin-top: 41px;
}

.menu_button{
  text-decoration: none;
  margin-left: 20px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 19pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px ;   /* 余白       */
  background    : #55c501;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #55c501;    /* 枠の指定 */
}

.menu_button:hover {
  color         : #55c501;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.youser_names {
  position:absolute;
	right: 200px;
  margin-top: 28px;
  font-size: 20px;
}

.blog_top {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.my_blog_menu {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.newblogs{
  margin-left: 500px;
  margin-top: 50px;
}

.blogs_list {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  font-size: 20px;
}

.blog_mini {
  margin-left: 60px;
}


.delete {
  margin: 0 0 0 auto;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}


.newblogs {
  display       : inline-block;
  border-radius : 7%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 25px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #55c501;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #55dd50;    /* 枠の指定 */
  text-decoration: none;
  height: 18px;
  margin-right: 10px;
}

.newblogs:hover {
  box-shadow    : none;        /* カーソル時の影消去 */     /* 背景色     */    /* 文字色     */
  opacity: 0.5 ;
}

.blogs_delete {
  display: flex;
  width: 750px;
  margin-top: px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border        : 1px solid #1011104b;
}

.create_titles {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.date {
  margin-top: auto;
}

