@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: #F5F6F6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 30px;
  display: flex;
  margin-left: 10px;
}

th {
  margin-left: 100px;
}

.my_card_flame {
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
}

.home_body {
    margin-bottom: 50px;
}

div.card_flame {
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
  width: 90%;
  height: auto;

   /* 注目 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px 20px;
}

/* .card_flame > :nth-child(n+3){
  margin-top: 20px;

}   */

/* .card_flame > :not(:nth-child(3n-2)){
  margin-left: 20px;
}   */

div.card_box {
  width: calc((100% - 20px * 2) / 3);
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

div img {
  vertical-align: top;
}

.card__imgframe{
  width: 280px;
  height: auto;
  /* padding-top: 56.25%; */
  background: #bbb;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: 100%;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
  text-decoration: none;
}

.card_texts {
    text-decoration: none;
    color: #0e0d0d;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
  margin-top: 10px;
}

.card_date {
    margin-top: 5px;
}

.newHeader {
    height: 20px ;
    margin-left: 13px;
    padding-top: 6px;
}

#muscle_title {
    display: inline;
    padding-top:18px;
    color: #fefffd;
    /* font-family: 'Kosugi', sans-serif; */
}


div.body {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background-color:#55C501;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 17px;
  height: 105px;
}

div.header_text {
  display: flex;
}

div.title_text{
  display: flex;
}

div.back {
  margin-top: auto;
  margin-bottom: auto;
  position:absolute;
	right: 60px;
  font-size: 30px;
}

div.blogtop {
  margin-top: 41px;
}

.my_blogs {
  margin-top: 41px;
}

.menu_button{
  text-decoration: none;
  margin-left: 20px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px ;   /* 余白       */
  padding-bottom: 5px;
  background    : #55c501;     /* 背景色     */
  color         : #d9ebdf;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #55c501;    /* 枠の指定 */
}

.menu_button:hover {
  color         : white;     /* 背景色     */
}

.youser_names {
  position:absolute;
	right: 200px;
  margin-top:12px;
  margin-bottom: auto;
  font-size: 20px;
}

.muscle_title {
    margin-left: 200px;
}

.muscle_font {
    width: 48px;
}

.my_blog_menu {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.newblogs{
  margin-left: 500px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  width: auto;
}

.blogs_list {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  font-size: 20px;
}

.blog_mini {
  margin-left: 65px;
  margin-top: 5px;
}


.delete {
  margin: 0 0 0 auto;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}


.newblogs {
  display       : inline-block;
  border-radius: 100vh;
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 25px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #55c501;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #55dd50;    /* 枠の指定 */
  text-decoration: none;
  height: 18px;
  margin-right: 10px;
}

.newblogs:hover {
  box-shadow    : none;        /* カーソル時の影消去 */     /* 背景色     */    /* 文字色     */
  opacity: 0.5 ;
}

.blogs_delete {
  display: flex;
  width: 750px;
  margin-top: px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border        : 1px solid #1011104b;
}

.create_titles {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.date {
  margin-top: 8px;
}

.blog_body {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin: 0%;
  padding: 0%;
}

.blog_comments {
  margin-top: 170px;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.blog_font {
  text-align: center;
}


.create_comments{
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.top_title_group {
  margin-top: 16px;
  margin-bottom: 16px;
}

.blog_top {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.youser_name {
  margin-top: 70px;
  margin-left: 740px;
}

/* .blogs_backgraund {
  background-color: #F6F6F4;
  width: 100%;
  height: 100%;
  min-height:100%;
} */

*{
  margin: 0;
  padding: 0;
}

.blog_login {
  display       : inline-block;
  border-radius: 100vh;
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 25px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #55c501;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #55dd50;    /* 枠の指定 */
  text-decoration: none;
  height: 13px;
  margin-right: 10px;
}

.new_login {
  display       : inline-block;
  border-radius: 100vh;
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 25px;   /* 余白       */
  background    : #55c501;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
  text-decoration: none;
  height: 13px;
  margin-right: 10px;
  margin-left: 3px;
}

.layer_img {
  margin-right: 4px;
  margin-bottom: 6px;
}

.blog_login_set {
  margin: 0 0 0 auto;
  display: flex;
  margin-right: 35px;
  margin-top: 6px;
  margin-bottom: auto;
}

.login_top {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.login_title {
  text-align: center;
  margin-top: 10px;
}

.login_mails {
  width: 450px;
  height: 54px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#blog_form {
  border-radius: 10px;
  font-size: 15px;
}

.login_form {
  width: 450px;
  height: 54px;
  background    : #55c501;
  color         : #ffffff;
  border        : 1px solid #55c501;
  margin-top: 40px;
  margin-bottom: 10px;
}

.show_img {
    margin-top: 40px;
}

.new_login_form {
  width: 450px;
  height: 54px;
  display       : inline-block;
  border-radius: 10px;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : #fefffd;     /* 背景色     */
  color         : #1a1717;     /* 文字色     */
  border        : 2px solid #0e0d0d;    /* 枠の指定 */
  text-decoration: none;
  margin-top: 10px;
}

.new_login_form_text {
  font-size     : 13pt;        /* 文字サイズ */
  margin-top: 12px;
  margin-bottom: auto;
}

.login_good {
    width: 100%;
}

.message {
  width: 100%;
  height: 25px;
  display       : inline-block;
  border-radius: 10px;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : #ffffff;     /* 背景色     */
  color         : #55c501;     /* 文字色     */
  border        : 1px solid #55c501;    /* 枠の指定 */
  text-decoration: none;
  font-size: 18px;
  margin-top: 17px;
  margin-bottom: auto;
  padding: 3px 0px ;
}

.error_message {
    width: 100%;
  height: 25px;
  display       : inline-block;
  border-radius: 10px;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : #ffffff;     /* 背景色     */
  color         : red;     /* 文字色     */
  border        : 1px solid red;    /* 枠の指定 */
  text-decoration: none;
  font-size: 18px;
  margin-top: 17px;
  margin-bottom: auto;
  padding: 5px 0px ;
}


.muscle {
    height: 190px;
    width: 100%;
    object-fit:cover ;
}

.create_title {
    margin-bottom: 5px;
}

#create_title_text {
    height: 30px;
  width: 100%; /* 幅 */
  margin: 1em 0; /* 周囲の余白 */
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 20px; /* フォントサイズ */
  border: solid 2px #e1e3e8; /* 枠線のスタイル */
  border-radius: 4px; /* 角丸に */
  resize: none; /* リサイズ不可に */
}

#create_textbox {
  height: 300px;
  width: 100%; /* 幅 */
  margin: 1em 0; /* 周囲の余白 */
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 14px; /* フォントサイズ */
  border: solid 2px #e1e3e8; /* 枠線のスタイル */
  border-radius: 4px; /* 角丸に */
  resize: none; /* リサイズ不可に */

}

#create_textbox:focus {
    border-color: #56a9ff;
    outline: 0;
  }

.create_img {
    text-align: center;
    margin-top: 10px;
}

.post_blog {
    display       : inline-block;
  border-radius: 100vh;
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 2px 35px;   /* 余白       */
  background    : #55c501;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  border        : 2px solid #24c21e;    /* 枠の指定 */
  text-decoration: none;
  height: 37px;

  margin-top: 20px;
  margin-bottom: 500px;
}

.font_Choice {
    margin-top: 20px;
}

.comment_name {
    height: 12px;
    width: 100%; /* 幅 */
    margin-top: 7px;
    padding: 0.5em; /*枠線内の余白 */
    font-size: 20px; /* フォントサイズ */
    border: solid 2px #e1e3e8; /* 枠線のスタイル */
    border-radius: 4px; /* 角丸に */
    resize: none; /* リサイズ不可に */
}

.comment_body {
    height: 300px;
  width: 100%; /* 幅 */
  margin-top: 7px;
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 14px; /* フォントサイズ */
  border: solid 2px #e1e3e8; /* 枠線のスタイル */
  border-radius: 4px; /* 角丸に */
  resize: none; /* リサイズ不可に */
  margin-top: 10px;
}

.bg-orange {
    display       : inline-block;
    border-radius: 100vh;
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 2px 35px;   /* 余白       */
    background    : #55c501;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    border        : 2px solid #24c21e;    /* 枠の指定 */
    text-decoration: none;
    height: 37px;
    margin-top: 20px;
    margin-bottom: 500px;
    text-align: center;
}

.comment_line {
    border-top: 1px solid #000000;
    width:auto;
}

.comment_button {
    text-align: center;
}

.comment_set {
    font-size: 17px;
    margin-top: 25px;
}

.blog_comment_body {
    margin-top: 14px;
}

.signup_text{
    margin-top: 25px;
}

.index_blog_body {
    margin-bottom: 100px;
}

#delete_input {
    padding: 0px 7px;
}

.blog_body_text {
    font-size: 20px;
}

#src_font {
    margin-right: 10px;
}

.paginations {
    text-align: center;
    height: auto;
    margin-bottom:  100px;
    padding-bottom: 80px;
    padding-top: 50px;
    background-color: #55c501;
}

.pagination li {
    display: inline-block;
    font-size: 27px;
    padding-bottom: 13px;
}

.pagintion_box {
    height: auto;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.pagination a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

.pagination li {
    padding: 0px 6px;
}


